:root {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    --green: #596D48;
    --gray: #E5E7EB;
    --dark-gray: rgb(52, 51, 59);
    width: 100vw;
    max-width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    background-color: var(--dark-gray);
    color: var(--gray);
}

@font-face {
    font-family: Nordic;
    src: url(/fonts/Norse-Bold.otf);
}

a {
    text-decoration: none;
    color: var(--gray);
}

a:hover {
    font-weight: bold;
}

.wrapper {
    display: flex;
    gap: 2rem;
    height: 100vh;
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    width: 600px;
    height: 100vh;
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.33);
}

.right-part {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 100vh; */
    font-size: 1.2rem;
}

.hero {
    display: flex; 
    height: 280px;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.5);
}

img[alt="Odin Logo"] {
    display: flex;
    align-items: center;
    max-height: 14rem;
}

.hero-text {
    display: flex;
    align-items: center;
    font-family: Nordic, 'Courier New', Courier, monospace;
    font-size: 10rem;
}

.hero-footer {
    align-self: center;
}

.right-part>* {
    background-color: rgba(65, 65, 65, 0.68);
    width: 90%;
    min-width: 315px;
    height: 30%;
    box-shadow: 2px 3px 3px 2px rgb(32, 32, 32);
    border-radius: 32px;
}

form {
    margin-top: 1rem;
    margin-left: 3rem;
    display: flex;
    gap: 3rem;
}

input {
    color: var(--gray);
    background-color: rgba(65, 65, 65, 0.68);
    border: 1px solid rgb(52, 51, 59);
    outline: none;
    border-radius: 6px;
    margin-bottom: 3rem;
}

 :focus {
    background-color: rgba(16, 16, 16, 0.68);
    outline: 2px solid var(--green);
}

input::after:invalid {
    outline: 2px solid red;
}

input:valid {
outline: 2px solid green;
}

